version: '3.8'

services:

  mysql_db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: your_root_password
      MYSQL_DATABASE: crud_db
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  glassfish_server:
    image: payara/server-full:latest
    ports:
      - "8080:8080"
      - "4848:4848"

    volumes:
      - ./target/MDK-1.0-SNAPSHOT.war:/opt/payara/deployments/MDK-1.0-SNAPSHOT.war
    depends_on:
      mysql_db:
        condition: service_healthy